<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Rejestracja</title>
</head>
<body>
<h1>Załóż konto</h1>
<form role="form" th:action="@{/addexpense}" th:method="post" th:object="expenses">
    <lable>Nazwa użytkownika</lable>
    <input type="text" id="name" name="name" th:field="*{price}">

    <lable>Email</lable>
    <input type="text" id="email" name="email" th:field="*{date}">

    <lable>Hasło</lable>
    <input type="text" id="password" name="password" th:field="">
    <input type="submit" th:value="Zarejestruj">
</form>

</body>
</html>