<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Rejestracja</title>
</head>
<body>
<form role="form" th:action="@{/sign-up}" th:method="post" th:object="${user}">
    <lable>Name</lable>
    <input type="text" id="name" name="Nazwa użytkownika" th:field="*{nazwa}">

    <lable>Email</lable>
    <input type="text" id="email" name="E-mail" th:field="*{email}">

    <lable>Password</lable>
    <input type="password" id="password" name="Hasło" th:field="*{pass}">

    <input type="submit">
</form>
</body>
</html>